Pandas series can be created using
List
Tuple
Dictionary
Numpy array
Scalar value

In [1]:
import pandas as pd
l=[1,2,3,4,5]
df=pd.Series(l)
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
import pandas as pd
l=(1,2,3,4,5)
df=pd.Series(l)
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
import pandas as pd
l={"name":["raju","ram"],"age":[34,45]}
df=pd.Series(l)
df

name    [raju, ram]
age        [34, 45]
dtype: object

In [4]:
import pandas as pd
import numpy as np
numpy=np.array([11,22,33,44])
df=pd.Series(numpy)
df

0    11
1    22
2    33
3    44
dtype: int32

In [5]:
series=pd.Series([1,2,3,4,5],index=[0,1,2,3,4],dtype="float64")
series

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64