In [1]:
data=[ { 'name': 'Peter', 'age': 31 }, { 'name': 'Mark', 'age': 41 }, { 'name': 'Maria', 'age': 21 }, { 'name': 'Monica', 'age': 31 }, { 'name': 'Martha', 'age': 41 } ]
final_dict={}
for dict1 in data:
    name=dict1["name"]
    age=dict1["age"]
    if age>21:
        if age not in final_dict:
            final_dict[age]=[name]
        else:
            final_dict[age].append(name)
print(final_dict)

{31: ['Peter', 'Monica'], 41: ['Mark', 'Martha']}

In [2]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
d=dict(sorted(d.items(),key=lambda x:x[1],reverse=True))
print(d)

{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [3]:
d={0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}
d.update({2:20})
print(d)

{0: 10, 1: 20, 2: 20}

In [4]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
res={**dic1,**dic2,**dic3}
print(res)

fin_res={}
for i in (dic1,dic2,dic3):
    fin_res.update(i)
print(fin_res)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
if 39 in d:
    print("Key is present in the dictionary")
else:
    print("Key is not present in the dictionaty")

Key is not present in the dictionaty

In [6]:
n = 5
d={i:i*i for i in range(1,n+1)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
n=15
d={i:i*i for i in range(1,n+1)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [8]:
# Create the first dictionary 'd1' with key-value pairs.
d1 = {'a': 100, 'b': 200}

# Create the second dictionary 'd2' with key-value pairs.
d2 = {'x': 300, 'y': 200}

# print(d1)
# print(d2)

d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [9]:
d = {'Red': 1, 'Green': 2, 'Blue': 3}
for key,value in d.items():
    print(key," corresponds to ",value)

Red  corresponds to  1
Green  corresponds to  2
Blue  corresponds to  3

In [10]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
print(sum(list(my_dict.values())))

293

In [11]:
result=1
my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
for k,v in my_dict.items():
    result*=v
print(result)

-1333800

In [12]:
myDict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
print(myDict)

if "a" in myDict:
    del myDict["a"]
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [13]:
keys = ['red', 'green', 'blue']

# Create another list 'values' containing corresponding color codes in hexadecimal format.
values = ['#FF0000', '#008000', '#0000FF']

print(dict(zip(keys,values)))

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [14]:
color_dict = {
    'red': '#FF0000',
    'green': '#008000',
    'black': '#000000',
    'white': '#FFFFFF'
}
res=dict(sorted(color_dict.items()))
for k,v in res.items():
    print(k,v)

black #000000
green #008000
red #FF0000
white #FFFFFF

In [15]:
my_dict = {'x': 500, 'y': 5874, 'z': 560}
# print(my_dict)
print(max(my_dict.items(),key=lambda x:x[1])[1])
print(min(my_dict.items(),key=lambda x:x[1])[1])

5874
500

In [16]:
student_data = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}
# print(student_data)
result = {}
for k,v in student_data.items():
    if v not in result.values():
        result[k]=v
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [17]:
my_dict = {}

if not bool(my_dict):
    print("Dictionary is empty")

Dictionary is empty

In [18]:
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'c':400,'d':800}
# res={i:d1[i]+d2[i] for i in d1 }
# print(res)

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'c': 400, 'd': 800}

# # Create a new dictionary to store the combined results
# combined_dict = {}

# # Iterate over all keys in both dictionaries
# for key in set(d1.keys()).union(d2.keys()):
#     combined_dict[key] = d1.get(key, 0) + d2.get(key, 0)

# print(combined_dict)
d={}
for key in set(d1.keys()).union(d2.keys()):
    d[key]=d1.get(key,0)+d2.get(key,0)
print(d)

{'d': 800, 'c': 700, 'b': 400, 'a': 400}

In [19]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
set1=set()
for i in data:
    set1.add((list(i.values())[0]))
print(set1)

{'S009', 'S007', 'S002', 'S001', 'S005'}

In [20]:
d={'1':['a','b'], '2':['c','d'],'3':["p","q"]}
list1,list2,list3=d.keys()
list1_1,list2_1,list3_1=d[list1],d[list2],d[list3]

for i in list1_1:
    for j in list2_1:
        for k in list3_1:
            print(i+j+k)

acp
acq
adp
adq
bcp
bcq
bdp
bdq

In [21]:
my_dict = {'a': 500, 'b': 5874, 'c': 560, 'd': 400, 'e': 5874, 'f': 20}
n_largest=2
three_largest=dict(sorted(my_dict.items(),key=lambda x:x[1],reverse=True)[:n_largest]).keys()
print(list(three_largest))

['b', 'e']

In [22]:
s=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
d={}
for i in s:
    keys=i["item"]
    values=i["amount"]
    if keys not in d:
        d[keys]=values
    else:
        d[keys]+=values
print(d)

{'item1': 1150, 'item2': 300}

In [23]:
word='w3resource'
print({i:word.count(i) for i in word})

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [24]:
my_dict = {'C1': [1, 2, 3], 'C2': [5, 6, 7], 'C3': [9, 10, 11]}
# C1 C2 C3                                                                                                      
# 1 5 9                                                                                                         
# 2 6 10                                                                                                        
# 3 7 11

c1,c2,c3=list(my_dict.keys())
print(c1,c2,c3)
for i in range(len(my_dict["C1"])):
    print(my_dict[c1][i],my_dict[c2][i],my_dict[c3][i])

C1 C2 C3
1 5 9
2 6 10
3 7 11

In [25]:
student = [{'id': 1, 'success': True, 'name': 'Lary',"score":34},
 {'id': 2, 'success': False, 'name': 'Rabi',"score":334},
 {'id': 3, 'success': True, 'name': 'Alex',"score":24}]
print(student)

print(sum(i["id"]  for i in student))
print(sum(i["success"]  for i in student))
print(sum(i["score"] for i in student))

[{'id': 1, 'success': True, 'name': 'Lary', 'score': 34}, {'id': 2, 'success': False, 'name': 'Rabi', 'score': 334}, {'id': 3, 'success': True, 'name': 'Alex', 'score': 24}]
6
2
392

In [26]:
num_list = [1, 2, 3, 4]
k=d={}
for i in num_list:
    d[i]={}
    d=d[i]
print(k)

{1: {2: {3: {4: {}}}}}

In [27]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
d={i:sorted(j)  for i,j in num.items() }
print(d)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [28]:
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
print(student_list)

{'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

In [29]:
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
l={k.translate({32:None}):v  for k,v in student_list.items()}
print(l)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [30]:
d={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
l=dict(sorted(d.items(),key=lambda x:x[1],reverse=True)[:3])
for i,j in l.items():
    print(i,j)

item4 55
item1 45.5
item3 41.3

In [31]:
# Create a dictionary 'dict_num' with keys and values.
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60,7:10}
for c,(k,v) in enumerate(dict_num.items(),1):
    print(k," ",v," ",c)

1   10   1
2   20   2
3   30   3
4   40   4
5   50   5
6   60   6
7   10   7

In [32]:
students = {'Aex': {'class': 'V', 'roll_id': 2}, 'Puja': {'class': 'V', 'roll_id': 3}}
# print(students)
for i in students:
    print(i)
    for j in students[i]:
        print(j,":",students[i][j])

Aex
class : V
roll_id : 2
Puja
class : V
roll_id : 3

In [33]:
student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}
print(student.keys()>={"class"})

True

In [34]:
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
print(sum(map(len,dict.values())))

5

In [35]:
student_details = [
  {'id': 1, 'subject': 'math', 'V': 70, 'VI': 82},
  {'id': 2, 'subject': 'math', 'V': 73, 'VI': 74},
  {'id': 3, 'subject': 'math', 'V': 75, 'VI': 86}
]
for i in student_details:
    n1=i.pop("V")
    n2=i.pop("VI")
    i['V+VI']=(n1+n2)/2
print(student_details)

[{'id': 1, 'subject': 'math', 'V+VI': 76.0}, {'id': 2, 'subject': 'math', 'V+VI': 73.5}, {'id': 3, 'subject': 'math', 'V+VI': 80.5}]

In [36]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}


for (k,v) in set(x.items())&set(y.items()):
    print(k,v)

key1 1

In [37]:
d={'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
length=len(d["x"])//2
for i in d:
    print(d[i][length])
    
for i,j in d.items():
    print(i,"has value",j)

15
25
35
x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]
y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]
z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

In [38]:
d1={'c1': 'Red', 'c2': 'Green', 'c3': None}
res={i:j for i,j in d1.items() if j!=None }
print(res)

{'c1': 'Red', 'c2': 'Green'}

In [39]:
d1={'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
print({k:v for k,v in d1.items() if v>170})

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [40]:
s1=['S001', 'S002', 'S003', 'S004']
s2=['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
s3=[85, 98, 89, 92]
d=[]
length=len(s1)
for i in range(length):
    d.append({s1[i]:{s2[i]:s3[i]}})
print(d)

r=[{x:{y:z}}   for (x,y,z) in zip(s1,s2,s3)  ]
print(r)

[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]
[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [41]:
d={'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65),
   'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
# {'Cierra Vega': (6.2, 70)}
l={i:j  for i,j in d.items() if j[0]>=6.0 and j[1]>=70}
print(l)

{'Cierra Vega': (6.2, 70)}

In [42]:
d={'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
print(all(x==10  for x in d.values()))

False

In [43]:
l=[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
print(l)
d={}
for i,j in l:
    if i not in d:
        d[i]=[j]
    else:
        d[i].append(j)
print(d)

[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

In [44]:
l={'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
length=len(l["Science"])
res=[{i:j[k]  for i,j in l.items()  } for k in range(length) ]
print(res)

[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

In [45]:
l=[{'id': '#FF0000', 'color': 'Red'}, {'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]
# print(l)
d=[]
for i in l:
    if i["id"]!='#FF0000':
        d.append(i)
print(d)

[{'id': '#800000', 'color': 'Maroon'}, {'id': '#FFFF00', 'color': 'Yellow'}, {'id': '#808000', 'color': 'Olive'}]

In [46]:
# Original list of dictionaries with string values
# l= [{'x': '10', 'y': '20', 'z': '30'}, {'p': '40', 'q': '50', 'r': '60'}]
l=[{'x': '10.12', 'y': '20.23', 'z': '30'}, {'p': '40.00', 'q': '50.19', 'r': '60.99'}]

d=[]

for i in l:
    d.append({i:float(j) for i,j in i.items()})
print(d)

[{'x': 10.12, 'y': 20.23, 'z': 30.0}, {'p': 40.0, 'q': 50.19, 'r': 60.99}]

In [47]:
d={'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}
print({i:j.clear() for i,j in d.items()})

{'C1': None, 'C2': None, 'C3': None}

In [48]:
d={'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}
res={k:sorted(v,reverse=True) for k,v in d.items()}
print(res)

{'Math': [90, 89, 88], 'Physics': [94, 92, 89], 'Chemistry': [93, 90, 87]}

In [49]:
l=[{'Math': 90, 'Science': 92}, {'Math': 89, 'Science': 94}, {'Math': 92, 'Science': 88}]
marks=[]
for i in l:
    marks.append(i["Math"])
print(marks)

[90, 89, 92]

In [50]:
color_dict = {1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
l={j:len(j)  for i,j in color_dict.items()}
print(l)

{'red': 3, 'green': 5, 'black': 5, 'white': 5}

In [51]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}
for i in num:
    print(i)

physics
math
chemistry

In [52]:
d={1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
p=[list((i,j))  for i,j in d.items() ]
print(p)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [53]:
# d={'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
d={'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}

res={i:[i for i in j if i%2==0] for i,j in d.items()}
print(res)

{'V': [], 'VI': [], 'VII': [2]}

In [56]:
d={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
m=dict(sorted(d.items(),key=lambda x:x[1],reverse=True)[:2])
print(list(m.keys()))

TypeError: 'dict' object is not callable

In [61]:
d={'V': [10, 12], 'VI': [10], 'VII': [10, 20, 30, 40], 'VIII': [20], 'IX': [10, 30, 50, 70], 'X': [80]}
# print(d)
min_v=1
res=[]
for i,j in d.items():
    if len(j)==1:
        res.append(i)
print(res)

['VI', 'VIII', 'X']

In [66]:
d={'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
r={}
for i,j in d.items():
    r[i]=str(j)
# print(r)
l=[v for k,v in d.items()]
print({i:l.count(i) for i in l})

{10: 2, 40: 2, 20: 2, 70: 1, 80: 1}

In [69]:
d=[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
# print(d)

l=[[i['student_id'],i['name'],i['class']]  for i in d ]
print(l)

[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]

In [73]:
l=[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]
# print(l)
d={}
for i in l:
    d[i[0]]=i[1:]
print(d)

{1: ['Jean Castro', 'V'], 2: ['Lula Powell', 'V'], 3: ['Brian Howell', 'VI'], 4: ['Lynne Foster', 'VI'], 5: ['Zachary Simon', 'VII']}

In [98]:
d={1: ['Jean Castro'], 2: ['Lula Powell'], 3: ['Brian Howell'], 4: ['Lynne Foster'], 5: ['Zachary Simon']}
f=[]
for i,j in d.items():
    f.append({i:j[0]})
# print(f)
r={}
for i in f:
    r.update(i)
r1=[r]
print(r1)

[{1: 'Jean Castro', 2: 'Lula Powell', 3: 'Brian Howell', 4: 'Lynne Foster', 5: 'Zachary Simon'}]

In [100]:
d={'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}
sum1=0
for j in d.values():
    sum1+=len(j)
print(sum1)

20

In [102]:
l=[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
# print(l)
for i in l:
    print(i)

{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}
{'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}
{'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}
{'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}
{'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}

In [109]:
l=[]
d1={'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
d2={'x': 300, 'y': 'Red', 'z': 600}
l.append(d1)
l.append(d2)

d={}
for i in l:
    for k,v in i.items():
        if k not in d:
            d[k]=[v]
        else:
            d[k].append(v)
print(d)

{'w': [50], 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [110]:
students = {
    'Theodore': 10,
    'Mathew': 11,
    'Roxanne': 9,
}

print({value: key for key, value in students.items()})

{10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}

In [115]:
l=[{'name': 'Theodore', 'age': 18}, {'name': 'Mathew', 'age': 22}, {'name': 'Roxanne', 'age': 20}, {'name': 'David', 'age': 18}]
ages=[]
for i in l:
    age=i["age"]
    ages.append(age)
print(ages)

[18, 22, 20, 18]

In [120]:
d={'Theodore': {'user': 'Theodore', 'age': 45}, 'Roxanne': {'user': 'Roxanne', 'age': 15}, 'Mathew': {'user': 'Mathew', 'age': 21}}
for i,j in d.items():
    print({i:j["age"]})

{'Theodore': 45}
{'Roxanne': 15}
{'Mathew': 21}

In [121]:
l1=['a', 'b', 'c', 'd', 'e', 'f']
l2=[1, 2, 3, 4, 5]
print(dict(zip(l1,l2)))

TypeError: 'dict' object is not callable

In [122]:
d={'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}

l=[(k,v)   for k,v in d.items()]
print(l)

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [125]:
d={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}

print(list(d.keys()))

['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [126]:
d={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
print(list(d.values()))

[19, 20, 21, 20]

In [129]:
d={'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
print(max(d.items(),key=lambda x:x[1])[0])
print(min(d.items(),key=lambda x:x[1])[0])

Roxanne
Theodore