In [6]:
import pandas as pd
df = pd.read_csv("msft.csv",header=1,parse_dates=True,index_col="Date Time")
# df = pd.read_csv("msft.csv", header=1,index_col='Date Time',parse_dates=True)

df.head()

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00

In [7]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [11]:
l=["a","b","c"]
print("".join(l))


print(l)

abc
['a', 'b', 'c', 'd', '1']