In [1]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
df.shape

(6, 4)

In [3]:
df.size

24

# Difference between Series vs DataFrame

In [4]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
df=pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

# list of list

In [9]:
df1=[[1,"raju"],[2,"rani"],[3,"main"]]
df=pd.DataFrame(df1,columns=["ids","names"],index=[1,2,3],dtype="float")
df

C:\Users\40019115\AppData\Local\Temp\ipykernel_23240\225642556.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(df1,columns=["ids","names"],index=[1,2,3],dtype="float")

   ids names
1  1.0  raju
2  2.0  rani
3  3.0  main

In [19]:
import pandas as pd
df1=pd.DataFrame({'Name':["ram","raju","mallesh","pollard","dhoni","rohit","gill"],
             'Marks':[99,89,99,87,90,99,89]                  
                  },   
                 index=["a","b","c","d","e","f","g"]
)
print("Max score--->",df1["Marks"].max())
print("Min score--->",df1["Marks"].min())
print("Mean score--->",df1["Marks"].mean())
print("Count Values--->",df1["Marks"].count())
# print("Describe Values----->",df1["Marks"].describe())
print("Columns---->",list(df1.columns))
print("Info----->",df1.info())

Max score---> 99
Min score---> 87
Mean score---> 93.14285714285714
Count Values---> 7
Columns----> ['Name', 'Marks']
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, a to g
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 168.0+ bytes
Info-----> None

# By using two series create DataFrame

In [36]:
import pandas as pd

s1 = pd.Series(["a", "b", "c"], index=[0, 1, 2])
s2 = pd.Series(["a1", "b1", "c1"], index=[0, 1, 2])

# Create a DataFrame from the Series, ensuring the columns match the Series indices
df = pd.DataFrame([s1.values, s2.values], columns=["c1", "c2", "c3"], index=[1, 2])

print(df)

   c1  c2  c3
1   a   b   c
2  a1  b1  c1